:root {
    --color-brilliant-white: #eaf0ff;
    --color-carte-blanche: #eef1ff;
    --color-ghost-white: #f6f8ff;
    --color-glow-pink: #FF5C8A73;
    --color-glow-blue: #5B7CFF8C;
    --color-white: #fff;
}